

.clearboth { clear:both; display:block; height:0;font-size:0; overflow:hidden;}
.banner{
	width: 100%;
	clear: both;
}


.msn-focus {
	width: 100%;
	height: 490px;
	
}
.msn-focus img {
	width: 100%;
	height: 480px;
	display: block
} /* 图片设置 */
.msn-focus .hd {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 410px;
	z-index: 999;
	position: absolute;
	padding-left: 20%;
}/* 日期设置 */
.msn-focus .hd li {
	float: left;
	display: inline;
	float: left;
	margin: 0 7px 0 0;
	height: 35px
}
.msn-focus .hd .on {
	background: url("../images/arrow.png") no-repeat scroll center bottom
}
.msn-focus .hd .on a {
	background-color: #38a3db;
	color: #fff
}
.msn-focus .hd a {
	height: 30px;
	background-color: #eee;
	float: left;
	width: 68px;
	text-align: center;
}
.msn-focus .bd {
	width: 100%;
	height: 480px;
	position: relative;
	overflow: hidden
	
}
.msn-focus .bd ul {
	height: 100%;
	overflow: hidden;
	position: relative;
	font-size: 14px;
	line-height: 28px
}
.msn-focus .bd li {
	width: 100%;
	height: 480px;
	background-color: #fff;
	position: relative
	
}
.msn-focus .bd li p {
	position: absolute;
	left: 0;
	bottom: 0;
	line-height: 35px;
	height: 35px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20%;
	font-size: 20px;
	font-weight: bold;
	
}
.msn-focus .bd li p i {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 35px;
	background: #000;	
	opacity: .5;
	filter: alpha(opacity=50)
}
.msn-focus .bd li p a, .msn-focus .bd li p a:visited {
	position: relative;
	color: #FFF;
	margin-left: 20px;
	font-family: "微软加黑";
	
}
.msn-focus .bd li p a:hover {
	color: #f60; z-index: -9999;
}
.msn-focus .prev, .msn-focus .next {
	position: absolute;
	bottom: 260px;
	width: 29px;
	height: 64px;
	opacity: .6;
	filter: alpha(opacity=60);
	overflow: hidden;
	display: none;
	text-indent: -999px;
	border: none;
	background: url(../images/arrowLR.png) no-repeat;
}
.msn-focus .prev: hover, .msn-focus .next: hover {
	opacity: .9;
	filter: alpha(opacity=90)
	
}
.msn-focus .prev {
	left: 0;
	background-position: -50px 0
}
.msn-focus .next {
	right: 0;
}
.msn-focus .bdOn .prev, .msn-focus .bdOn .next {
	display: block;
}