<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="vue.js"></script>
</head>
<body>
   <div id="app">
    姓：<input type="text" placeholder="Xname" v-model=" Xname"><br>
    名: <input type="text" placeholder="Mname" v-model="Mname"><br>
    姓名1(单向)：<input type="text" placeholder="name1" v-model="name1"><br>
    姓名2(单向)：<input type="text" placeholder="name2" v-model="name2"><br>
    姓名3(双向)：<input type="text" placeholder="name3" v-model="name3">
    <p>{{name1}}</p>
   </div>

<script>
const vm=new Vue({
  el:"#app",
  data:{
    Xname:"A",
    Mname:"B",
    name2:'A B'//使用监听时需要定义此项
  },
  //计算属性  
  computed:{
    //此方法会在初始化显示或者相关的data数据发生改变的时候发生改变
    name1(){//计算属性中的一个方法，方法的返回值会作为属性值可以被v-model调用
      return this.Xname+this.Mname
    },
    
    name3:{
      //此项get()作为一个回调函数 当需要读取当前属性值的时候回调，用来更新相关的属性数据和name1()的方法作用一致
      get() {
        //get()用来产生单项数据更新，name1()方法就是get()方法的默认值
        return this.Xname+' '+this.Mname
      },
      //此项set()作为一个回调函数 当属性值发生改变的时候回调，更新相关的属性数据
      //set()用来产生双向数据更新 是监视当前的属性值变化，不是设置也不是改变
      set(value) {//value就是name3的最新属性值
     const names=value.split(' ')
     this.Xname=names[0]
     this.Mname=names[1]
     console.log(this.Mname)
  }
    }

      
  },
  //监视属性
  watch:{
    //监视姓
  Xname:function(value){//当姓发生改变的时候，执行此方法
    this.name2=value+''+this.Mname
  },
  Mname:function(value){//当名发生改变的时候，执行此方法
    this.name2=this.Xname+value
  },
},
})

vm.$watch('Mname',function(value){ 
   this.name2=this.Xname+value
})

</script>
</body>
</html>