<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="head">
 <li v-for="v in comments">         <!--k为索引-->
   {{v.content}} <button v-on:click="remove('k')">删除</button>
 </li>             <!--v-model等于文本域的值-->
 <textarea  v-model="current_content" cols="30" rows="10"></textarea><br>
 <button v-on:click='push("end")'>发表到后面</button>
 <button v-on:click='push("pre")'>发表到前面</button><br>
                   <!--使用参数(' ')-->
<button v-on:click="del('end')">删除最后一条</button>     
<button v-on:click="del('pre')">删除第一条</button>         
</div>             
</body>
<script>
var app=new Vue({
  el:'#head',
  data:{
   current_content:" ",
   comments:[
     {content:"百度"},
     {content:'hello'}
   ]
  },
  methods:{
    remove(k){
      this.comments.splice(k,1)//k索引为splice中的删除位置
    },
    push(type){//添加type操作类型
      var content={content:this.current_content}
      switch(type){
        case 'end':
        this.comments.push(content);
        break;
        case 'pre':
        this.comments.unshift(content);
        break;
      }
      this.current_content=" "
    },
    del(type){
       switch(type){
        case 'end':
        this.comments.shift();
        break;

        case 'pre':
        this.comments.pop();
        break;  
       }
    }
   
  }
   
})
</script>
</html>