<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="head">
  <li v-for="v in stus">
   {{v.name}}-{{v.sex}}
  </li>
  <input type="radio" value="girl" v-model="type">女
  <input type="radio"  value="boy" v-model="type">男
</div>
</body>
<script>
var app=new Vue({
  el:'#head',
  computed:{
      stus(){
          if(this.type=='all'){
               return this.user
          }else{
              return this.user.filter((v)=>{//filter 为数组中的筛选方法
                  return v.sex==this.type
              })
          }
      }
  },
  data:{
     type:'all',
     user:[
      {name:'小明',sex:"boy"},
      {name:'小强',sex:"boy"},
      {name:'小美',sex:"girl"},
      {name:'小丽',sex:"girl"},
    ]
  }
})
</script>
</html>