<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="demo">
     <form @submit.prevent="hand"><!--阻止表单提交按钮的默认事件，按钮点击后不让数据提交，执行函数hand方法-->
         <label for="user">用户名：</label>
         <input id="user" type="text" nane="username" v-model="user.name"><br>
         <label for="pwd">密码：</label>
         <input id="pwd" type="password" name="password" v-model="user.password"><br>
         <span>性别:</span> 
         <input type="radio" value="男" v-model="user.sex"><span>男</span>
         <input type="radio" value="女" v-model="user.sex"><span>女</span>
         <br>
         <span>爱好：</span>
         <input type="checkbox" id="baskt" value="basktball" v-model="user.likes">
         <label for="baskt">篮球</label>
         <input type="checkbox" id="foot" value="football" v-model="user.likes">
         <label for="foot">足球</label>
         <input type="checkbox" id="pinpan" value="pinpang" v-model="user.likes">
         <label for="pinpan">乒乓球</label><br>
        <span>城市：</span>
        <select name="" id="" v-model="user.city"><!--user.id-->
        <option value="">--请选择--</option>
        <option value="" v-for="city in citys" :value="city.name"><!--city.id-->
            {{city.name}}
        </option>
      </select><br>
        介绍：
        <textarea name="" id="" cols="30" rows="10" v-model="user.desc"></textarea><br>
        <button type="submit">提交</button>
     </form>
    </div>
</body>
<script>
    new Vue({
        el:"#demo",
        data:{
         user:{
           name:'',
           password:'',
           sex:'',
           likes:[],
           city:'',
           desc:'',
         },
          citys:[
              {id:1,name:"bj"},{id:2,name:'sh'},{id:3,name:'wh'}
          ]
        },
        methods:{
           hand(event){//自动收集用户的注册资料
              alert(JSON.stringify(this.user))
           }
        }
    })

</script>
</html>