<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
<div id="head">
  <input type="text" v-model="n1">+
  <input type="text" v-model="n2">=
  <input type="text" v-model="sum">
</div>
<script>
    var app = new Vue({
        el:'#head',
        computed:{
            sum(){
                return this.n1*1+this.n2*1//*1转变为数字类型，用于计算
            }
        },
        data:{
          n1:0,
          n2:0
        }
    })
</script>
</body>
</html>