<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<style>
.success{color:green}
.error{color:red}
</style>
<body>
<div id="head">
<li v-for="v in news"><!--遍歷-->
   <span :class="v.status?'success':'error'">{{v.title}}</span><!--判斷狀態--> 
   <button v-on:click="changeStatus(v,false)" v-if="v.status">刪除</button>
   <button v-on:click="changeStatus(v,true)" v-if="!v.status">恢復</button>
</li>
</div>
<script>
    var app = new Vue({
        el:'#head',
        methods:{
            changeStatus:function(item,status){
                item.status=status
            }
        },    
        data:{
           news:[
               {title:'百度',status:true},
               {title:'baidu.com',status:true}
            ]
        }
    })
</script>
</body>
</html>